:root {
  --color-primary: rgb(135, 230, 132);
  --color-secondary: rgba(38, 39, 51, 0.847);
  --text-color-main: rgb(219, 255, 221);
  --text-color-special: rgb(246, 255, 186);
}
body
{
  background-color: var(--color-secondary);
}