body
{
  margin: 0;
  user-select: none;
}
.Components
{
  width: 100%;
  height: calc(100vh - 90px);
  padding-top:30px;
  background-image: url("misc/floorBG.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
  position: relative;
}
.case
{
  
  width: 1000px;
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("casePC/case.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 32px 20px rgb(0, 0, 0);
}
.caseCover
{
  
  width: 1000px;
  height: 850px;
  background-image: url("casePC/caseCover.png");
  background-size: cover;
  background-position: center;
  filter:brightness(100%);
}
.screw
{
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("casePC/bolt.png");
  background-size: cover;
  background-position: center;
  filter:brightness(150%);
}
.screw:nth-child(2)
{
  margin: -820px 0 0 0px
}
.screw:nth-child(3)
{
  margin: -820px 0 0 800px
}
.screw:nth-child(4)
{
  margin: -120px 0 0 800px
}
.screw:nth-child(5)
{
  margin: -120px 0 0 0px
}
.counterOutline
{
  transition: transform 0.4s;
  width: 350px;
  height: 120px;
  padding:20px;
  background-image: url("casePC/caseCover.png");
  background-clip: padding-box;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  position:absolute;
  top:0;
  margin-left:10px;
}
.counterInside
{
  width: 350px;
  height: 120px;
  background: #242424;
  background: linear-gradient(0deg, rgba(36, 36, 36, 1) 0%, rgba(14, 14, 14, 1) 80%, rgba(36, 36, 36, 1) 100%);
  background-size: 100% 10%;
  background-repeat: repeat-y;
  background-position: center;
  border-radius: 15px;
  color:greenyellow;
  font-family: 'alarm clock', sans-serif;
  font-size:110px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.glitchText
{
  animation: glitch-animation 0.5s linear 0s infinite;
  display: inline-block;
}
.counterOverlay
{
  position:absolute;
  margin-top:-500px;
  margin-left:-500px;
  width: 1000px;
  height: 1000px;
  background: transparent url('https://tse1.mm.bing.net/th/id/OIP.s6tYqeQYeXBFmbgn7U4ggQHaHa?rs=1&pid=ImgDetMain&o=7&rm=3') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1s infinite;
  opacity: 0.5;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

@keyframes glitch-animation 
{
  0%   { clip-path: inset(40% 0 40% 0); transform: translateX(5px);}
  5%   { clip-path: inset(10% 0 60% 0); transform: translateX(0px);}
  10%  { clip-path: inset(70% 0 10% 0); }
  15%  { clip-path: inset(20% 0 50% 0); }
  20%  { clip-path: inset(60% 0 20% 0); }
  25%  { clip-path: inset(5% 0 75% 0);  }
  30%  { clip-path: inset(30% 0 30% 0); }
  35%  { clip-path: inset(80% 0 5% 0);  }
  40%  { clip-path: inset(15% 0 55% 0); }
  45%  { clip-path: inset(55% 0 15% 0); }
  50%  { clip-path: inset(70% 0 10% 0); transform: translateX(0px);}
  55%  { clip-path: inset(25% 0 45% 0); transform: translateX(-5px);}
  60%  { clip-path: inset(50% 0 20% 0); transform: translateX(0px);}
  65%  { clip-path: inset(10% 0 70% 0); }
  70%  { clip-path: inset(75% 0 10% 0); }
  75%  { clip-path: inset(20% 0 50% 0); }
  80%  { clip-path: inset(60% 0 5% 0);  }
  85%  { clip-path: inset(35% 0 35% 0); }
  90%  { clip-path: inset(5% 0 80% 0);  }
  95%  { clip-path: inset(45% 0 25% 0); transform: translateX(0px);}
  100% { clip-path: inset(0 0 0 0);     transform: translateX(5px);}
}